.PostBox {
    width: 100%;
    height: 500px;
    background-color: aqua;
}

.Container {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.Maincontainer {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.Mainbox {
    float: right;
    align-self: center;
}

.BackGroundColor{
    background: #274182;
    height: 290px;
}


.Myboxcontainer {
    flex: 1;
    display: flex;
    justify-content: space-around;
}


.static {
    border: 2px solid #B8860B;
    position: static;
}

.relative {
    border: 2px solid #CD5C5C;
    position: relative;
    bottom: 190px;
    width: 1200px;
    height: 570px;
    background: rgb(255, 255, 255);
}

.MyMovebox{
    float: left;
    position: static;
    width: 300px;
    height: 570px;
    border-right : thin solid #c0c0c0;
}

.UserImage{
    position: relative;
    top: 30px;
    left: 35px;
}

.MovePageList{
    position: relative;
    width: 150px;
    top: 45px;
    left: 40px;
}

.ButtonMovePageList{
    clear: both;
    margin-bottom: 10px;
}

.MemberInformation{
    position: relative;
    top: 80px;
    left: 87.5px;
    width: 125px;
    height: 30px;
    border-radius: 20px;
}

.MySelectbox{
    float: right;
    position: static;
    width: 880px;
    height: 570px;
    border : thin solid #0015ff;
}
