.PostBox {
    width: 100%;
    height: 500px;
    background-color: aqua;
}

.Container {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}


.Maincontainer {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.Mainbox {
    float: right;
    align-self: center;
}

.BackGroundColor{
    position: static;
    background: #274182;
    height: 40vh;
}

.notification{
    position: relative;
    bottom: 180px;
    left: 240px;
    width: 125px;
    height: 30px;
    border-radius: 20px;
    background: rgb(0, 145, 255);
    border: 2px solid #ffffff;
    text-align: center;
    line-height: 30px;
}

html{
    min-width: 10vw;
    min-height: 100vh;
}


.Myboxcontainer {
    flex: 1;
    display: flex;
    justify-content: space-around;
}


.static {
    border: 2px solid #B8860B;
    position: static;
    width: 100vw;
    height: 100vh;
    flex: 1;
}
.static:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.relative {
    border: 2px solid #241c1c;
    position: relative;
    /* width: 80vw;
    height: 42vw; */
    width: 80%;
    height: 60%;
    bottom: 15vw;
    background: rgb(255, 255, 255);
}


.MyMovebox{
    float: left;
    position: static;
    width: 15vw;
    height: 100%;
    border-right : thin solid #c0c0c0;
}

.UserImage{
    position: relative;
    top: 30px;
    left: 35px;
}

.MovePageList{
    position: relative;
    width: 150px;
    top: 45px;
    left: 40px;
}

.ButtonMovePageList{
    clear: both;
    margin-bottom: 10px;
}

.MemberInformation{
    position: relative;
    top: 80px;
    left: 87.5px;
    width: 125px;
    height: 30px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
}

.MySelectbox{
    float: right;
    position: static;
    width: 880px;
    height: 570px;
}

.MySelectTitle{
    position: relative;
    bottom: 5px;
}

.hrstyle{
    position: relative;
    float: left;
    width: 840px;
    bottom: 12px;
}

.writingboxcontainer {
    flex: 1;
    display: flex;
    width: 840px;
    justify-content: space-between;
}

.writingbox {
    width: 200px;
    height: 40px;
    background: rgb(185, 183, 183);
    text-align: center;
    line-height: 40px;
    margin-bottom: 40px;
}

.HelpUserBox{
    float: left;
    position: relative;
    width: 840px;
    height: 40px;
    border: 2px solid #c0c0c0;
    margin-bottom: 20px;
}

.HelpImage{
    position: relative;
    top: 5px;
    left: 20px;
}

.Helptext{
    position: relative;
    bottom: 45.75px;
    left: 70px;
}

.logout{
    position: relative;
    top: 75px;
    left: 720px;
    width: 125px;
    height: 30px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
}