.PostBox {
    width: 100%;
    height: 350px;
    background-color: aqua;
}

.Container {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.Post {
    height: 40px;
    background-color: chartreuse;
    margin-bottom: 10px;
}