/* 
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  } */
  
  .login_box{
    position: absolute;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* * {
    box-sizing: border-box;
  } */
  
  /* Add padding to containers */
  .login_container {
    padding: 20px;
    background-color: white;
    border: 2px solid #f1f1f1;
    width: 500px;
  }
  
  /* Full-width input fields */
  .login_input_id {
    width: 100%;
    padding: 15px;
    margin: 0;
    display: inline-block;
    border: 0.5px solid #b1b1b1;
    border-radius: 10px 10px 0 0;
  }
  
   .login_input_password {
    width: 100%;
    padding: 15px;
    margin: 0;
    display: inline-block;
    border-top: none;
    border-bottom: 0.5px solid #b1b1b1;
    border-right: 0.5px solid #b1b1b1;
    border-left: 0.5px solid #b1b1b1;
    border-radius: 0 0 10px 10px;
  }
  
  
  .login_container > input[type=text]:focus, .login_container > input[type=password]:focus {
    outline: none;
    border: 0.5px solid #2d6ef0e4 ;
  }
  
  /* Overwrite default styles of hr */
  /* hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  } */
  
  /* Set a style for the submit button */
  .loginbtn {
    background-color: #2d6ef0e4 ;
    color: white;
    padding: 16px 20px;
    font-size: large;
    margin: 20px 0 0 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  
  .loginbtn:hover {
    opacity: 1;
  }
  
  .btnA, .btnB, .btnC {
    background-color: white;
    color: #b1b1b1;
    margin: 15px 10px;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 25%;
  }


  .login_message {
    position: absolute;
    font-size: 4vmin;
    left: 35vw;
    bottom: 17vh;
  }
  