.PostBox {
  width: 100%;
  height: 500px;
  background-color: aqua;
}

.Container {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.Maincontainer {
  flex: 1;
  display: flex;
  justify-content: space-around;
  font-size: 1.4vmin;
  max-width: 100%;
}

.Mainbox {
  float: right;
  align-self: center;
  cursor: pointer;
  width: 6vw;
  height: 5vh;
}

.BackGroundColor {
  position: static;
  background: #274182;
  height: 40vh;
}

.notification {
  position: relative;
  bottom: 29vh;
  left: 10vw;
  width: 4vw;
  text-align: center;
  font-size: 1.4vmin;
  color: #ffffff;
  border-radius: 20vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  background: rgb(114, 165, 204);
}

.notificationDetail {
  position: relative;
  bottom: 31.8vh;
  left: 17vw;
  font-size: 1.7vmin;
  color: #ffffff;
}

body {
  min-width: 10vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Myboxcontainer {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.static {
  /* border: 2px solid #B8860B; */
  position: static;
  width: 100vw;
  height: 100vh;
  flex: 1;
}

.static:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.relative {
  border: 0.2vmin solid #241c1c;
  position: relative;
  justify-content: space-between;
  width: 80%;
  max-width: 100%;
  height: 70vh;
  display: flex;
  bottom: 15vw;
  background: rgb(255, 255, 255);
  overflow: hidden;
}

.MyMovebox {
  float: left;
  position: static;
  width: 15vw;
  height: 100%;
  display: block;
  border-right: 0.1vmin solid #c0c0c0;
}

.UserImage {
  position: relative;
  top: 5vh;
  left: 2.75vw;
  width: 10vw;
  max-width: 100%;
  height: auto;
  display: block;
}

.MovePageList {
  position: relative;
  width: 100%;
  top: 10vh;
  left: 2.5vw;
  max-width: 100%;
  font-size: 1.7vmin;
  height: auto;
  display: block;
}

.ButtonMovePageList {
  clear: both;
  margin-bottom: 10px;
}

.MemberInformation {
  position: relative;
  top: 20vh;
  left: 4.25vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(224, 132, 132);
  padding-right: 1vw;
  color: rgb(224, 132, 132);
  background: #ffffff;
}

.MemberInformation:hover {
  position: relative;
  top: 20vh;
  left: 4.25vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(224, 132, 132);
}

.MySelectbox {
  float: right;
  position: relative;
  left: 65vw;
  bottom: 40vh;
  display: block;
  width: 62vw;
  height: 100%;
}

.MySelectTitle {
  position: relative;
  font-size: 3vmin;
  padding-bottom: 0.9vh;
  width: 95%;
  border-bottom: 0.1vh solid #c0c0c0;
}

.writingboxcontainer {
  flex: 1;
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.writingbox {
  width: 10vw;
  height: auto;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  font-size: 2vmin;
  background: rgb(185, 183, 183);
  text-align: center;
  margin-bottom: 3vh;
}

.HelpUserBox {
  float: left;
  position: relative;
  width: 58.8vw;
  height: 5vh;
  border: 0.2vmin solid #c0c0c0;
  margin-bottom: 3vh;
}

.HelpImage {
  position: relative;
  top: 1vh;
  left: 1vw;
  width: 1.7vw;
  max-width: 100%;
  height: auto;
  display: block;
}

.Helptext {
  position: relative;
  font-size: 1.6vmin;
  bottom: 3.5vh;
  left: 4vw;
}

.UserInformationImage {
  position: relative;
  top: 6vh;
  left: 2vw;
  width: 15vw;
  max-width: 100%;
  height: auto;
  display: block;
}

.HrUserInformation {
  position: relative;
  float: left;
  bottom: 11vh;
  left: 19vw;
  width: 55%;
  font-size: 2vmin;
  border-bottom: 0.2vh solid #000000;
  margin-bottom: 3vh;
}

.UserAuthority {
  position: relative;
  float: center;
  top: 22vh;
  right: 22vw;
  width: auto;
  font-size: 3vmin;
}

.Guidemodal {
  position: relative;
  width: 60vw;
  height: 80vh;
  left: 20vw;
  top: 10vh;
  background-color: rgb(255, 255, 241);
  width: 60vw;
  height: 80vh;
  border: 0.2vh solid #000000;
  border-radius: 0.2vw;
  position: fixed;
}

.explanationUserAuthority {
  position: relative;
  top: 22vh;
  left: 13vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(220, 132, 240);
  padding-right: 1vw;
  color: rgb(220, 132, 240);
  background: #ffffff;
}

.explanationUserAuthority:hover {
  position: relative;
  top: 22vh;
  left: 13vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(220, 132, 240);
}

.GuideText {
  font-size: 3vmin;
  position: relative;
  top: 2vh;
  left: 3vw;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-style: double;
}

.UserAuthorityImg {
  position: relative;
  top: 8vh;
  left: 15vw;
  width: 30vw;
  height: 47vh;
}

.UserAuthorityButton {
  position: relative;
  top: 20vh;
  left: 23vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(220, 132, 240);
  padding-right: 1vw;
  color: rgb(220, 132, 240);
  background: #ffffff;
}

.UserAuthorityButton:hover {
  position: relative;
  top: 20vh;
  left: 23vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(220, 132, 240);
}

.logout {
  position: relative;
  top: 21vh;
  left: 5vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(224, 132, 132);
  padding-right: 1vw;
  color: rgb(224, 132, 132);
  background: #ffffff;
}

.logout:hover {
  position: relative;
  top: 21vh;
  left: 5vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(224, 132, 132);
}

.userRankName {
  position: relative;
  font-size: 4vmin;
  left: 20vw;
  bottom: 13vh;
}

.UserRankImg {
  position: relative;
  top: 8vh;
  left: 5vw;
  width: 50vw;
  height: 45vh;
}

.modaluserRank {
  position: relative;
  top: 45vh;
  left: 45vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(220, 132, 240);
  padding-right: 1vw;
  color: rgb(220, 132, 240);
  background: #ffffff;
}

.modaluserRank:hover {
  position: relative;
  top: 45vh;
  left: 45vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(220, 132, 240);
}

.UserRankButton {
  position: relative;
  top: 20vh;
  left: 3vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(220, 132, 240);
  padding-right: 1vw;
  color: rgb(220, 132, 240);
  background: #ffffff;
}

.UserRankButton:hover {
  position: relative;
  top: 20vh;
  left: 3vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(220, 132, 240);
}

.atpGuide {
  position: relative;
  font-size: 4vmin;
  left: 2vw;
}

.atp {
  position: relative;
  font-size: 10vmin;
  top: 6vh;
  left: 15vw;
}

.modaluserATP {
  position: relative;
  top: 45vh;
  left: 45vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(220, 132, 240);
  padding-right: 1vw;
  color: rgb(220, 132, 240);
  background: #ffffff;
}

.modaluserATP:hover {
  position: relative;
  top: 45vh;
  left: 45vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(220, 132, 240);
}

.ATPtext {
  position: relative;
  top: 25vh;
  left: 16vw;
  font-size: 5vmin;
}

.UserATPButton {
  position: relative;
  top: 53vh;
  left: 53vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(220, 132, 240);
  padding-right: 1vw;
  color: rgb(220, 132, 240);
  background: #ffffff;
}

.UserATPButton:hover {
  position: relative;
  top: 53vh;
  left: 53vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(220, 132, 240);
}

.modaluserDemerit {
  position: relative;
  top: 50vh;
  left: 49vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(220, 132, 240);
  padding-right: 1vw;
  color: rgb(220, 132, 240);
  background: #ffffff;
}

.modaluserDemerit:hover {
  position: relative;
  top: 50vh;
  left: 49vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(220, 132, 240);
}

.DemeritGuide {
  position: relative;
  font-size: 2vmin;
  left: 2vw;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-position: under;
  text-decoration-color: rgb(114, 165, 204);
}

.Demerittable {
  position: relative;
  top: 5vh;
  left: 3vw;
  width: 25vw;
  height: 40vh;
}

.Demerittable2 {
  position: relative;
  bottom: 39.8vh;
  left: 32vw;
  width: 25vw;
  height: 40vh;
}

.DemeritText {
  position: relative;
  bottom: 36vh;
  left: 3vw;
  width: 55vw;
  font-size: 2vmin;
}

.UserDemeritButton {
  position: relative;
  bottom: 32vh;
  left: 53vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(220, 132, 240);
  padding-right: 1vw;
  color: rgb(220, 132, 240);
  background: #ffffff;
}

.UserDemeritButton:hover {
  position: relative;
  bottom: 32vh;
  left: 53vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(220, 132, 240);
}

.modal {
  position: relative;
  width: 30vw;
  height: 50vh;
  left: 35vw;
  top: 25vh;
  background-color: rgb(215, 238, 255);
}

.modalTitle {
  position: relative;
  left: 9vw;
  top: 2vh;
  font-size: 5vmin;
  text-decoration-line: underline;
  text-underline-position: under;
}

.modalAll {
  position: relative;
  left: 5vw;
  top: 12vh;
  font-size: 3vmin;
}

.modalIntput {
  position: relative;
  font-size: 3vmin;
}

.modalButton {
  position: relative;
  top: 25vh;
  left: 10vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(224, 132, 132);
  padding-right: 1vw;
  color: rgb(224, 132, 132);
  background: #ffffff;
}

.modalButton:hover {
  position: relative;
  top: 25vh;
  left: 10vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(224, 132, 132);
}

.modalButton2 {
  position: relative;
  top: 25vh;
  left: 12vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(224, 132, 132);
  padding-right: 1vw;
  color: rgb(224, 132, 132);
  background: #ffffff;
}

.modalButton2:hover {
  position: relative;
  top: 25vh;
  left: 12vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(224, 132, 132);
}

.modal2 {
  position: relative;
  width: 30vw;
  height: 50vh;
  left: 35vw;
  top: 25vh;
  background-color: rgb(215, 238, 255);
}

.modal2Title {
  position: relative;
  left: 6vw;
  top: 2vh;
  font-size: 5vmin;
  text-decoration-line: underline;
  text-underline-position: under;
}

.modal2All {
  position: relative;
  left: 5vw;
  top: 10vh;
  font-size: 2vmin;
}

.modal2Intput {
  position: relative;
  font-size: 3vmin;
}

.modal2Button {
  position: relative;
  top: 19vh;
  left: 10vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(224, 132, 132);
  padding-right: 1vw;
  color: rgb(224, 132, 132);
  background: #ffffff;
}

.modal2Button:hover {
  position: relative;
  top: 19vh;
  left: 10vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(224, 132, 132);
}

.modal2Button2 {
  position: relative;
  top: 19vh;
  left: 12vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(224, 132, 132);
  padding-right: 1vw;
  color: rgb(224, 132, 132);
  background: #ffffff;
}

.modal2Button2:hover {
  position: relative;
  top: 19vh;
  left: 12vw;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(224, 132, 132);
}

.contentButton {
  position: relative;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid #ffffff;
  padding-right: 1vw;
  color: #ffffff;
  background: rgb(114, 165, 204);
}

.contentButton:hover {
  position: relative;
  width: auto;
  height: auto;
  margin-bottom: 0.2vh;
  font-size: 1.4vmin;
  max-width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  border-radius: 20vw;
  border: 0.2vmin solid rgb(114, 165, 204);
  padding-right: 1vw;
  color: rgb(114, 165, 204);
  background: #ffffff;
}
