.editor {
    box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
    background: #fff;
    padding: 20px 30px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  
#editorjs-container {
  background-color: #f9f9f9;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.ce-toolbar__content, .ce-block__content {
  max-width: unset;
  width: 92% !important;
}

.editorjs-codeFlask_Wrapper .editorjs-codeFlask_LangDisplay {
  max-width: unset;
  height: unset !important;
}

.editor button {
  border: none;
  padding: 10px 20px;
  background: #2cd3ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.Titleeditor {
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
  background: #fff;
}

.container {
  width: 55%;
}

.container > div {
  display: flex;
}