.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #7792c1;
    border-bottom: 1px solid #e9ecef; */
    background-image: linear-gradient(to bottom, #0468BF,#799ADB, #b1c8f5, white);
    position: fixed;
    width: 100%;
    top: 0;
}

.navContainer {
    height: 20vh;
}

.bigbang_title{
    font-family: 'establishRoomNo703OTF';
    font-size: 4vw;
    color: white;
    margin: 0 0 0 2vw;
    text-align: left;
    cursor: default;
}

.bigbang_message{
    font-family: 'establishRoomNo703OTF';
    font-size: 1.5vw;
    color: white;
    display: inline-block;
    margin: -1vh 0 0 2vw;
    cursor: default;
}

@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bigbang_menu1, .bigbang_menu2, .bigbang_menu3, .bigbang_menu4 {
    font-family: 'establishRoomNo703OTF';
    font-size: 1.5vw;
    color: white;
    display: inline-block;
    /* margin: -1vh 0 0 10vw; */
}

.navbar > ul {
    padding: 0;
    margin-right: 5vw;
}

/* .logo {
    padding-left: 1vw;
    width: 10vw;
    margin: 0;
}

.logo > div {
    font-size: 1.5rem;
    font-weight: bold;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    background-color: white;
    border-radius: 2.5vh;
} */

/* .search > input {
    all: unset;
    width: 50vw;
    height: 5vh;
    border: none;
    padding-left: 0.5rem;
} */


/* .searchIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
} */

/* menu is hamberger menu */
/* .menu .menubar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    margin-right: 1vw;
    cursor: pointer;   
}

.menu .menubar div {
    width: 2rem;
    height: 0.25rem;
    background-color: #343a40;
    transition: transform 0.3s, ease-in-out;
}

.menuicon {
    display: none;
}

.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: rgba(119, 146, 193, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transform: translateX(0%);
    transition: transform 0.2s, ease-in-out;
    margin-left: 100%;
    position: absolute;
    top: 0;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    padding: 20px 0px 0px 20px;
    color: white;
    font-size: 20px;
}

.exit {
    text-align: end;
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 1vh;
    font-weight: bold;
}

.sidebtn {
    background-color: white;
    border-radius: 5px;
    width: 12vw;
    padding: 10px;
    font-size: 20px;
}

.pagelogo {
    width: 12vw;
    height: 30%;
} */

.boardlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    width: 80vw;
    height: 9vh;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
}

.boardelement {
    width: 100%;
}

.board:hover {
    background-color: #e9ecef;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    font-size: 1vmax;
    font-weight: bold;
    grid-template-columns: auto auto;
}

.title > div {
    margin-left: 1vw;
}

.countContainer {
    display: flex;
    margin-top: 1vh;
    font-size: 1vmax;
    color: grey;
    margin-top: 1vh;
    width: 50%;
}

.recommends {
    margin-left: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommends > img {
    height: 2vh;
    margin-top: 1px;
}

.comments {
    margin-left: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments > img {
    height: 2vh;
    margin-top: 1px;
}

.writer {
    display: flex;
    justify-content: space-between;
    font-size: 1vmax;
    font-weight: bold;
    grid-template-columns: auto auto;
    display: inline-block;
}

/* 
.scroll {
    overflow: auto;
    height: 100vh;
    width: 100vw;
} */

.conContainer{
    display: inline-block;
    width: 80%;
}