.header {
    margin: 5%;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 45px;
    margin-bottom: -12px;
    margin-right: 5em;
    font-weight: bold;
}

.post_information {
    margin-left: 10%;
    margin-right: 7%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.post_time, .edit, .delete {
    margin-top: 7%;
    margin-bottom: 12%;
}

.post_time {
    margin-right: 5%;
}

.post_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-bottom: -7%;
    margin-right: 3%;
}

.line {
    margin-left: 10%;
    margin-right: 10%;
    height: 1.75px;
    background-color: #0B87DE;
}

.post_content {
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 5%;
    font-size: 20px;
}

.like_dislike {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like, .dislike {
    align-items: center;
    text-align: center;
}

.like_count, .dislike_count {
    margin-top: -3%;
}

.line_comment {
    margin-left: 10%;
    margin-right: 10%;
    height: 1.25px;
    background-color: #7F7F7F;
}

.comment_input {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.comment_button {
    width: 10%;
    height: 105%;
    margin-left: 0.5%;
    margin-right: 3.6%;
    background-color: #0B87DE;
    color: white;
}

.comment_write {
    margin-left: 10%;
    margin-right: 7%;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}