.Postheader {
    margin-left: 1%;
    font-size: 20px;
    margin-bottom: 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_txt {
    text-decoration-line: none;
    font-size: medium;
    color: #5c5959;
}